body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    font: bold;
    font-size: 42px;
    margin: 24px;
}
#calculator {
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    background-color: lightskyblue;
    padding: 18px;
    border-radius: 2%;
}

output {
    width: 250px;
    height: 50px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.1);
    background-color: lightblue;
    border-radius: 2%;
}
.row {
    display: flex;
    gap: 4px;
    margin: 4px;
    justify-content: center;
    align-items: center;
    align-self: center;
}

button {
    width: 60px;
    height: 50px;
    gap: 2px;
}

#zero-btn {
    width: 124px;
}